@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;

}

.left {
    width: 25vw;
    padding: 10px;
    position: relative;

}


.right {
    width: 75vw;
    position: relative;
}

.home {
    padding: 10px;
}

.home ul li {
    width: 15px;
    list-style: none;
    gap: 15px;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    padding-top: 14px;
    padding: 23px 14px;
    font-size: 13px;

}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}



.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    flex-wrap: wrap;

}

.footer a {
    font-size: 10px;
    color: grey;
    text-decoration: none;

}

.right {
    margin: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #181818;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}


.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 52vh;
}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    transition: all .9s;


}

.card:hover {
    background-color: rgb(70, 69, 69);
    cursor: pointer;
    --a: 1;

}

.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;


}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;

}

.buttons>* {
    margin: 0 12px;

}

.signupbtn {
    background-color: #181818;
    color: rgb(94, 94, 94);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    color: white;
    font-size: 17px;


}

.loginbtn {
    background-color: white;
    border-radius: px;
    color: black;

    padding: 10px;
    width: 79px;
    cursor: pointer;
    border-radius: 20px;

}

.loginbtn:hover {

    font-weight: bold;
    padding: 10px 14px;
    width: 84px;


}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;


}

.songList {
    height: 500px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}


.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songlist .info {
    font-size: 13px;
    width: 200px;


}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    height: 4px;
    width: 98%;
    left: 0%;
    background: black;
    margin: 6px;
    cursor: pointer;
}

.circle {
    background-color: black;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 88px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

@media (max-width: 1347px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;


    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .close {
        display: block;
        position: absolute;
        right: 32px;
        top: 30px;
        width: 31px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;

    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 60px);
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .seekbar {
        width: calc(100vw - 60px);

    }

    .hamburger {
        display: block;
    }

    .card {
        width: 44vw;

    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;

    }

}

@media (max-width: 500px) {

    .buttons {
        padding: 15px 0px;
    }

    .buttons>* {
        margin: 0 15px 0 2px;

    }

    .card {
        width: 80vw;
    }
}