.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.align-centeer{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color:#121212;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Width of scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track (background) of scrollbar */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle (thumb) of scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  